%h1
  Other metrics
%h2
  Average number of slots requested over time
%iframe{width: 985, height: 526, seamless: true, frameborder: 0, scrolling: 'no', src: 'https://docs.google.com/spreadsheets/d/1637u0SaHDAxyB_CELN4WkPuklb7ED31HCuDf2PB6X4s/pubchart?oid=1394544772&amp;format=interactive'}
