%h2 Additional visitors
%p.hidden--js-enabled You can have up to 2 adults (over 18) and 3 children visiting at the same time. Seats are provided only for adults, so children may have to sit on your lap. 
%p.visible--js-enabled How many visitors do you wish to take with you?

.group.group--inline.visible--js-enabled
  %label(for="number_of_adults") Adults
  = select_tag 'visit[visitor][][number_of_adults]', options_for_select([['none',0],1,2], v.number_of_adults.to_s), :class => 'number_of_visitors adults'

.group.group--inline.visible--js-enabled
  %label(for="number_of_children") Children
  = select_tag 'visit[visitor][][number_of_children]', options_for_select([['none',0],1,2,3,4,5], v.number_of_children), :class => 'number_of_visitors children'
