- labels = [:first, :second, :third, :forth, :fifth, :sixth]

- visit.visitors.each_with_index do |visitor, index|
  .well
    %h3 #{labels[index].capitalize} visitor
    %p
      %strong #{visitor.given_name} #{visitor.surname}
      - if visitor.date_of_birth.present?
        \- #{visitor.date_of_birth}
    %div Edit details