
.group{ :class => ('validation-error') }
  = f.label :full_name do
    Full name
    -#%span.validation-message= f.object.errors[:full_name].first if f.object.errors.include?(:full_name)
  = f.text_field :full_name

.group{ :class => ('validation-error') }
  = f.label :date_of_birth do
    Date of birth
    -#%span.validation-message= f.object.errors[:date_of_birth].first if f.object.errors.include?(:date_of_birth)
  = f.date_field :date_of_birth
