- content_for :header do
  %h1 Your visit date and time

%p Choose the date and time you would like to visit #{visit.prisoner.first_name} #{visit.prisoner.last_name}

[date picker]

%div= link_to 'Continue', step5_path, :class => 'button button-primary'