- content_for :header do
  %h1 Your visit request has been sent

%p We will email you within 48 hours to confirm your visit and give you a visit reference number

.well.summary-pane.pull-left.cf
  %p
    Date:
    %br
    %strong= Date.parse(visit.slots[0].date).strftime("%e %B %Y")

  %p
    Time:
    %br
    %strong #{visit.slots[0].slot}

  %p
    Location:
    %br
    %strong
      #{visit.prisoner.prison_name}
      %br
      Old Elvet
      %br
      Durham
      %br
      DH1 3HU

  %p
    Tel:
    %br
    %strong 0191 332 3400

%p
  A confirmation email will be sent to: 
  %strong #{visit.visitors[0].email}

%p When you visit please make sure you bring the following ID documents with you:

%p
  %img(alt="Passport")
  Passport of driving licence with you address on

%p
  %img(alt="Utility bills")
  Two utility bills addressed to you

%p
  %small If you do not bring these documents with you, you will not be able to visit the prison.

%p
  %small
    If you have any questions before your visit please see the 
    %a(href="#") HMP Durham website
    or you can call the prison directly on: 0191 332 3400.