- content_for :header, 'Your request has timed out'

.Grid
  .Grid-2-3
    %p To prevent others from acquiring prisoner or visitor details, we clear all the forms if you have not loaded a page for 20 minutes.

    = link_to 'Start a new request', edit_prisoner_details_path, :class => 'button button-primary'
