- content_for :header, 'Your visit request has not been made'

.Grid
  .Grid-2-3
    %p All the details you entered have been cleared to keep your information safe. This happens when a page has been left open for over 20 minutes. 

    = link_to 'Make a new visit request', edit_prisoner_details_path, :class => 'button button-primary'
