- content_for :header, 'Your visit request has not been made'

.Grid
  .Grid-2-3
    %p= t("visit.all_the_details_you_entered_have_been_cl")

    = link_to 'Make a new visit request', edit_prisoner_details_path, :class => 'button button-primary'
