:css
  #bookmarklets {
    margin-bottom: 1em;
  }

  #bookmarklets,
  #bookmarklets .pris,
  #bookmarklets .vis {
    display: none;
  }

  .prisoner_details #bookmarklets,
  .visitor_details #bookmarklets {
    display: block;
  }

  .prisoner_details #bookmarklets .pris,
  .visitor_details #bookmarklets .vis {
    display: inline;
  }

:javascript
  pvbdebug = {
    close: function(el) {
      $(el).css({display:'none'});
      return false;
    },

    prisoner_details: function() {
      [['#prisoner_first_name','John'],['#prisoner_last_name','Smith'],['#prisoner_date_of_birth_3i','25'],['#prisoner_date_of_birth_2i','10'],['#prisoner_date_of_birth_1i','1987'],['#prisoner_number','a1234bc'],['#prisoner_prison_name','Rochester']].forEach(function(i){$(i[0]).val(i[1])});
      return false;
    },

    visitor_details: function() {
      [['#first_name_0','Sally'],['#last_name_0','Jones'],['#visit_visitor__date_of_birth_3i','19'],['#visit_visitor__date_of_birth_2i','8'],['#visit_visitor__date_of_birth_1i','1992'],['#visit_visitor__email','sally@jonesville.com'],['#visit_visitor__phone','020 7788 9966']].forEach(function(i){$(i[0]).val(i[1])});
      return false;
    }
  };

#bookmarklets
  %a.pris(href='javascript:pvbdebug.prisoner_details();') Enter prisoner details
  %a.vis(href='javascript:pvbdebug.visitor_details();') Enter one visitor
  %a(href='javascript:pvbdebug.close("#bookmarklets");') Close