%noscript
  #error-summary.validation-summary.group(role="alert" tabindex="-1" aria-labelledby="cookie-heading")
    %h2#cookie-heading You need to enable cookies before continuing.
    %p This service uses browser cookies to temporarily save your information over the 3 steps of the form. The cookie is stored on the computer until you send your request or do not submit a form for 20 minutes.
    %p We have detected that JavaScript is not enabled. JavaScript is not required to use this service, but it does make it easier to use.
