%noscript
  #error-summary.validation-summary.group(role="alert" aria-labelledby="cookie-heading")
    %h2#cookie-heading= t("shared.you_need_to_enable_cookies_before_contin")
    %p= t("shared.this_service_saves_your_information_over")
    %p.hidden--js-enabled= t("shared.you_have_not_enabled_javascript_you_don")
