#user-satisfaction-survey-container
  %section#user-satisfaction-survey
    .wrapper
      %h1 Help us design new ways of sending money to prisoners
      %p.right
        %button#survey-no-thanks{:href => "#survey-no-thanks"} No thanks
      %p
        %a#take-survey{:href => "https://www.surveymonkey.com/r/PJWKMSQ", :target => "_blank"} Take a short survey now
        The survey will open in a new window
