#user-satisfaction-survey-container
  %section#user-satisfaction-survey
    .wrapper
      %h1 Help us design new ways of sending money to prisoners
      %p.right
        %a#survey-no-thanks{:href => "#survey-no-thanks"} No thanks
      %p
        %a#take-survey{:href => "https://www.surveymonkey.com/s/GCG2XFB", :target => "_blank"} Take a 2 minute survey to inform our research
        This will open a short survey on another website
