%script#tmpl-timeout(type="text/html")
  #timeout-prompt.validation-summary.alert-dialog(role="alertdialog" aria-labelledby="timeoutTitle" aria-describedby="timeoutDesc")
    %h2 Your session will will expire in {{ respondTime }} minutes
    %p Would you like to continue?
    %button#extend-timeout.button.button-primary Yes
