#error-summary.validation-summary.group(role="alert" tabindex="-1" aria-labelledby="error-heading")
  %h2#error-heading You need to fix the errors on this page before continuing.
  %p See highlighted errors below.