- content_for :header do
  - if prison_data(booked_visit)['canned_responses']
    Visit request for #{booked_visit.prisoner.first_name} #{booked_visit.prisoner.last_name}
  - else
    Process a visit request

.Grid
  .Grid-3-4

    - if prison_data(booked_visit)['canned_responses']
      = render 'canned_responses'
    - else
      = render 'open_responses'
