.Grid
  .Grid-2-3

    %header
      %h1 Thank you
      %p A confirmation email has been sent to the visitor.

    - if Date.today < Date.parse('2014-12-23')
      #latest-change.notice
        %h1 Staff update: prisoner and visitor details moved to top
        %p We have moved the prisoner and visitor details to the top of the processing form. If your browser window is large enough, it will display them in a right-hand column.
        %p
          %a(href="/staff/changes") Read more about recent updates
