.Grid
  .Grid-2-3

    %header
      %h1 Thank you
      %p A confirmation email has been sent to the visitor.

    - if Date.today < Date.parse('2014-12-11')
      #latest-change.notice
        %h1 Staff update: new visit request processing form
        %p A new format will be released for the request processing form. We are hoping this will make it easier and quicker to process requests and also help address the issue of emails being blocked by junk filters.
        %p
          %a(href="/staff/changes") Read more about recent updates
