.Grid
  .Grid-2-3

    %header
      %h1 Thank you
      %p A confirmation email has been sent to the visitor.

    - if Date.today < Date.parse('2014-12-17')
      #latest-change.notice
        %h1 Staff update: prisoner and visitor details re-added to processing form
        %p Many of you said you liked having the prisoner/visitor info on this page, so we have added this back on, in a column to the right. Please do let us know if there are other features you would like to have.
        %p
          %a(href="/staff/changes") Read more about recent updates
