- content_for :header, 'We are experiencing technical difficulties'

%p The prison visits booking system is not available right now, but we're working hard to get things up and running again.
%p <a href="/">Please try again in ten minutes</a> or go to <a href="http://www.gov.uk/">GOV.UK</a>.
