- content_for :header, 'We are experiencing technical difficulties'

.Grid
  .Grid-2-3
  
    %p= t("static.the_prison_visits_booking_system_is_not")
    %p= t("static.you_can_try_again_later_or_book_your_vis")
