- content_for :header, 'We are experiencing technical difficulties'

.Grid
  .Grid-2-3
  
    %p= t("static.the_prison_visits_booking_system_is_not_1")
    %p= t("static.see_the_prison_finder_for_contact_detail")
