- content_for :header, 'We are experiencing technical difficulties'

.Grid
  .Grid-2-3
  
    %p The prison visits booking system is not available as we're carrying out some planned maintenance. You can try again later or book your visit by phone instead.
    %p See the <a href="http://www.justice.gov.uk/contacts/prison-finder">prison finder</a> for contact details.
