- content_for :header, 'You need to enable cookies'

%p This service saves your information over the 3 steps of the form using a cookie. The cookie is deleted after you have sent your request, or if your session times out after 20 minutes.

%p Please #{link_to('enable cookies', 'http://www.aboutcookies.org/Default.aspx?page=1')} and return to the #{link_to('prisoner details page', prisoner_details_path)}.
