- content_for :header, 'You need to enable cookies'

.Grid
  .Grid-2-3

    %p= t("static.this_service_saves_your_information_over")

    %p= t("static.please_a_and_return_to_the_b", a: (link_to('enable cookies', 'http://www.aboutcookies.org/Default.aspx?page=1')), b: (link_to('prisoner details page', prisoner_details_path)))
