- content_for :header, "Why did I receive this email?"
%p
  You've received an email from
  %span.no-wrap
    no-reply@email.prisonvisits.service.gov.uk
%p
  This is probably because you requested a prison visit. 
%p
  We’ll confirm your visit by email, so make sure you add this email address to your address book or safe senders list. 

