- content_for :header, "Why did I receive this email?"
%p
  = t("static.you_ve_received_an_email_from")
  %span.no-wrap
    = t("static.no_reply_email_prisonvisits_service_gov")
%p
  = t("static.this_is_probably_because_you_requested_a")
%p
  = t("static.we_ll_confirm_your_visit_by_email_so_mak")

