<% content_for :type, 'service' %>
<% content_for :title, 'Send feedback' %>
<% content_for :scripts do %>
  <script>
  $('#feedback_text').keyup(function(){
    var charlimit = 2000,
        notice = $('.char-limit');

    if($(this).val().length > charlimit) {
      $(this)
        .val($(this).val().substr(0, charlimit))
        .css('outline', 'solid 3px #ff0000');
      notice.css('color', '#ff0000')
    } else {
      $(this).add(notice).removeAttr('style');
    }
  });
  </script>
<% end %>
<div class="send-feedback">
  <%= render "feedbacks/form" %>
</div>
