- content_for :header, 'Process a visit request'

%h2
  Visit already confirmed.
%p
  This visit has already been processed. Please refer to your functional mailbox inbox folder for a receipt with the outcome.

