- content_for :header, 'Process a visit request'

%h2
  An error has occurred
%p
  The link you used is invalid. This usually happens when the link was pasted in only in part. Try selecting the entire link again.

