.Grid
  .Grid-2-3

    %header
      %h1 Thank you
      %p A confirmation email has been sent to the visitor.

    - if Date.today < Date.parse('2014-10-30')
      #latest-change.notice
        %h1 Staff update: visit processing times can now be tailored
        %p It's now possible to change the turnaround time for processing visit requests, so that visitors have a realistic idea of when they'll get confirmation of their visit.
        %p
          %a(href="/staff/changes") Read more about recent updates
