.SlotPicker-choices
  padding: 0
  background: none

  > p
    margin: .5em 0

    @include media(mobile)
      margin-right: 15px
      margin-left: 15px

.SlotPicker-choice
  margin: 0
  padding: 0
  border: 10px solid $grey-3

  &:last-of-type
    border-top: none

  &.is-chosen
    padding: 0

    .inner
      padding-left: 65px
      padding-right: 80px

      @include media(mobile)
        padding-left: 55px

  .inner
    cursor: pointer
    position: relative
    margin-top: 10px
    padding: 10px
    min-height: 60px
    background: $white
    border: 1px solid $grey-2

    &:first-child
      margin-top: 0

.SlotPicker-days
  margin: 0

.SlotPicker-dayTitle
  margin: 0

.SlotPicker-position span
  line-height: normal

@include media(mobile)
  ul.BookingCalendar-legend
    margin: 0
    padding: 0 15px 20px
    background: #dee0e2

    li
      font-size: 16px
    
  
  .BookingCalendar-legendBox
    border: 2px solid #999
  
  .BookingCalendar-legendBox--available
    background: $white
  

.BookingCalendar-legendDesc
  font-size: 16px

.BookingCalendar-navFull
  display: none
  @include media($size: 860px)
    display: inline
  

