.confirmations {
  h2,
  h3 {
    font-weight: bold;
  }

  form h2 {
    border-bottom: 1px solid black;
  }
}

.email {
  color: $secondary-text-colour;
}

// Amends for BookingCalendar with radio buttons
.BookingCalendar {
  border-top: 1px solid $grey-3;
}

label.BookingCalendar-dateLink {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #0b0c0c;
  text-decoration: none;
  cursor: pointer;

  line-height: 1.5;
  text-align: center;
}

.BookingCalendar-content .BookingCalendar-day {
  padding-left: 3px;
}

.block-label.disabled {
  text-decoration: line-through;
  color: $grey-1;
}
