.validation-summary,
.validation-error
  padding: 1em
  border: 3px solid #df3034
  background: #fef7f7

.validation-summary
  margin-bottom: 1em
  & :first-child
    margin-top: 0
  & :last-child
    margin-bottom: 0

.validation-error
  border-width: 0 0 0 3px

.validation-message
  display: block
  color: #df3034


form
  .group
    margin: 1em 0

  .group--inline
    label
      float: left
      width: 12.5em

label
  display: block

.actions
  margin: 1em 0
  padding-top: 1em

  @include media(desktop)
    clear: both