// Full calendar

.fc-past
  color: $grey-1
  background: $grey-4

.fc-future.fc-unbookable
  color: $grey-2
  background: transparent

.fc-chosen
  position: relative
  overflow: hidden
  
  &:after
    position: absolute
    content: ''
    top: 0
    right: 0
    width: 0
    height: 0
    border-style: solid
    border-width: 0 10px 10px 0
    border-color: transparent #158bc8 transparent transparent

    @include media(desktop)
      border-width: 0 15px 15px 0
