// Full calendar

.fc-day
  cursor: pointer

  &:hover
    background: $grey-3

.fc-past,
.unavailable
  background: #f8f8f8

// .fc-cell-overlay
//   opacity: 1
//   background: none
//   border: 2px solid #c5c5c5

.fc-grid .fc-day-number
  float: none