// Full calendar

.fc-day
  cursor: pointer

  &:hover
    background: $grey-3

.fc-past
  background: $grey-4

.fc-state-highlight
  background: none

.fc-cell-overlay
  opacity: .7
  background: #acdaed

.fc-grid .fc-day-number
  float: none