
.Grid {

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  @include media(tablet) {
    // margin-left: -15px;
    // margin-right: -15px;
  }
}

.Grid-cell {
  float: left;
  width: $full-width;
}

@include media(tablet) {
  .Grid-1-4,
  .Grid-1-3,
  .Grid-1-2,
  .Grid-2-3,
  .Grid-3-4 {
    float: left;
  }

  .Grid-1-4 {
    @extend Grid-cell;
    width: $one-quarter;
  }

  .Grid-1-3 {
    width: $one-third;
  }

  .Grid-1-2 {
    width: $half;
  }

  .Grid-2-3 {
    width: $two-thirds;
  }

  .Grid-3-4 {
    width: $three-quarters;
  }
}

.Grid-col .inner-block {
  padding: 0;
  @include media(tablet) {
    margin: 0 15px;
  }
}

.inner-block .Grid-wrapper {
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
}
