.container
  max-width: 1020px
  margin: 0 auto

  .inner
    padding: 0 30px

    @include media-down(tablet)
      padding-right: 15px
      padding-left: 15px

  .step1 &,
  .step2 &,
  .step3 &,
  .step5 &,
  .step6 &
    .inner
      max-width: 708px
      margin: 0

.well
  padding: 1em
  background: $grey-3
  
  h2,
  ul,
  p
    margin: 0

.summary-pane
  float: left
  width: 40%
  margin-right: 1em

  @include media-down(mobile)
    float: none
    width: auto
    margin-right: auto

.step6 #wrapper img
  float: left
  margin-right: 1em

.step6 .info
  float: left
  width: 300px

.with-image
  clear: left
  padding-top: 1em
