header h1
  margin-right: auto

.step1 h2,
.step2 h2,
.step4 h3
  font-weight: bold

legend
  @include core-24
  margin-bottom: .5em
  font-weight: bold

summary
  color: $light-blue
  text-decoration: underline

.step5 .well
  margin: 1em 0
  border-width: 1px 0
  border-style: solid
  border-color: $grey-2

.step6 .well p
  margin: 1em 0

.pull-right
  float: right

.group__help
  margin-top: 0