header h1
  @include core-48
  font-weight: bold
  margin: .66em 0 .33em

h2
  margin-top: .5em

p
  @include core-19

.prisoner_details h2,
.visitor_details h2
  @include core-24

legend
  @include core-24
  margin-bottom: .5em
  font-weight: bold

details[open]
  summary:focus
    outline: none

summary
  color: $link-colour
  font-size: 19px
  text-decoration: underline
  cursor: pointer

  &:hover
    color: $link-hover-colour

  &:focus
    outline: 3px solid $yellow

.summary .well
  margin: 1em 0
  border-width: 1px 0
  border-style: solid
  border-color: $grey-2

.divider
  margin: 1em 0
  padding-top: 1em
  border-top: 1px dashed $grey-2

  h2,
  ul,
  p
    margin: 0

  li
    @include core-19

.edit-link
  float: right

.request_sent .well p
  margin: 1em 0

  &.flat
    margin-bottom: 0

.pull-right
  float: right

.group__help
  margin-top: 0

details.group__help
  summary
    font-size: 16px
  p
    margin: 0
    font-size: 16px

h3 + p
  margin-top: 0

.unstyled-list
  padding-left: 0
  list-style-type: none

acronym
  cursor: help
