body.prisons
  main * + *
    margin-top: .75em
    margin-bottom: .75em

  dt
    @include bold-19

  td
    vertical-align: top

  aside
    border-top: 10px solid $link-colour

    h2
      @include bold-24
