/* clearfix */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after,
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after,
.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf,
.clearfix {
    *zoom: 1;
}
/* end clearfix */


/* table */
// Originally from gov_static. Should move to moj_template.
table {
  border-collapse: collapse;
}
/* end table */



/* list items to same font size as p */
li {
  @include core-19
}

ul {
  @include media(mobile) {
    padding-left: 20px;
  }
}
/* end list items */



/* mixin shared in date-slider and slot-picker */
@mixin corner-marker($size: 10px) {
  overflow: hidden;
  
  &:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 $size $size 0;
    border-color: transparent $light-blue transparent transparent;
  }
}
/* end mixin shared in date-slider and slot-picker */
