.todays-date
  text-align: right

.month-selector
  position: relative
  padding: 10px 20px
  color: $white
  line-height: 1.875em
  background: $black

  a
    color: $white
  
    &.is-active
      cursor: default
      display: block
      position: absolute
      width: 50%
      left: 50%
      margin-left: -25%
      @include core-27
      text-align: center
      text-decoration: none
      // background: $grey-3

.slotpicker-nav
  float: left
  width: 300px

  ul
    margin: 0
    padding: 0
    list-style-type: none

  a
    position: relative
    display: block
    width: 200px
    margin-bottom: 3px
    padding: 7px 15px
    color: $black
    list-style-type: none
    text-decoration: none
    background: $grey-3

    &.is-active
      color: $white
      background: $grey-2

      &:before
        border-left-color: $grey-2
    
    &.unavailable
      text-decoration: line-through

    &.has-selections
      font-weight: bold

.slotpicker-nav .is-active:before
  content: ' '
  position: absolute
  z-index: 2
  top: 0
  right: -38px
  height: 0
  width: 0
  border: 19px solid transparent // arrow size */
  border-left-color: $grey-3

.arrow-right
  width: 0
  height: 0

.slotpicker-content
  float: left
  width: 300px
  padding: 1em
  background: $grey-3

  .slot
    padding: 4px 7px
    background: $white
    cursor: pointer

    [type=checkbox]
      float: right