.month-selector
  position: relative
  min-height: 3em
  padding: 10px 20px
  color: $white
  line-height: 1.875em
  background: $black

  ul
    list-style-type: none
    overflow: hidden

  li
    float: left

    &.is-earlier
      position: absolute
      top: 1em
      left: 1em
    &.is-earlier:before
      content: '< '

    &.is-later
      position: absolute
      top: 1em
      right: 1em
    &.is-later:after
      content: ' >'

  a
    color: $white
  
    &.is-active
      cursor: default
      display: block
      position: absolute
      width: 50%
      left: 50%
      margin-left: -25%
      @include core-27
      text-align: center
      text-decoration: none
      // background: $grey-3

#calendar
  margin-bottom: .5em

.unavailable
  @extend .fc-past

.arrow-right
  width: 0
  height: 0

.day-slots
  display: none

  &.is-active
    display: block

.day-slots
  padding: .5em
  background: $grey-3
  border: 1px solid $grey-2

  .slot
    float: left
    margin-left: .5em
    padding: 4px 7px
    background: $white
    border: 1px solid $grey-2
    cursor: pointer

    &:first-child
      margin-left: 0

    small
      display: block


.selected-slots

  h3,
  p
    margin: 0

  ul
    margin: 0
    padding: 10px
    list-style-type: none
    background: $grey-3

    li
      min-height: 2em
      margin-top: 10px
      border: 1px dashed $grey-2

      &:first-child
        margin: 0

      .placeholder
        padding: .75em
        text-align: center
        color: #333

      &.is-active
        padding: 10px
        background: $white
        border-style: solid
        border-color: $white

        a
          display: block
        
        .time
          display: inline-block

        .date
          @extend .time
          font-weight: bold

        .placeholder
          display: none

      a
        display: none
        float: right
        width: 1em
        height: 1em
        color: $white
        font-size: 30px
        font-weight: bold
        line-height: 1.15
        text-align: center
        text-decoration: none
        background: $grey-2
        border-radius: 50%
      
      p
        margin: 0