.visitor
  margin-bottom: 1em
  padding: 10px
  background: $grey-3

  p,
  h3
    margin: 0

#visitor-0
  padding: 0
  background: none

.summary
  display: none
  padding: 10px
  background: $grey-3

.compact
  .summary
    display: block

  .group,
  .well,
  h3,
  .quick-actions
    display: none

.js-remove__button
  display: none

.js-enabled .js-remove__button
  display: block

.js-enabled .js-remove__checkbox
  display: none