- content_for :header, "Find a prison"

- content_for :body_end do
  :javascript
    $('form').on('submit', function(e) {
      e.preventDefault();
      window.location.href = $(this).attr('action') + '/' + $(this).find('[name=prison]').val().toLowerCase().replace(' ', '-');
    });

= form_tag '/prisons' do

  .group
    %label{ for: :prison }
      Name of the prison
      %p.form-hint eg Cardiff
    = select_tag :prison, options_for_select(prison_names), prompt: 'select a prison', class: 'js-autocomplete'

  .actions
    .primary-actions
      = submit_tag :Continue, :class => 'button button-primary'
