!!!
%html
  %body
    .container{ style: 'max-width: 600px; margin: auto;' }
      .banner{ style: 'background: #0b0c0c; vertical-align: bottom;' }
        = image_tag("govuk-header-logo.png", alt: "GOV.UK")
      .content{ style: 'padding: 16px 30px 0;' }
        = yield
